<html>
    <head>
        <title>{{ title }} - Capstone API</title>
    </head>
    <body>
        <h1>Welcome to {{ user.username }}!</h1>
        <h2>Routes:</h2>
        <h2>-- Auth --</h2>
        <h4>    @auth_blueprint.route('/index')</h4> 
        <h4>    @auth_blueprint.route('/login', methods=['POST'])</h4>  
        <h4>    @auth_blueprint.route('/register', methods=['POST'])</h4>  
        <h4>    @auth_blueprint.route('/logout', methods=['GET'])</h4>  
        <h2>-- Item --</h2>
        <h4>    @item_blueprint.route('/new', methods=['POST'])</h4>
        <h4>    @item_blueprint.route('/view/<int:item_id>', methods=['GET'])</h4> 
        <h4>    @item_blueprint.route('/view/all/<int:user_id>', methods=['GET'])</h4> 
        <h4>    @item_blueprint.route('/view/all', methods=['GET'])</h4> 
        <h4>    @item_blueprint.route('/delete/<int:item_id>', methods=['DELETE'])</h4> 
        <h2>-- Cart --</h2>
        <h4>    @cart_blueprint.route('/add/<int:item_id>', methods=['GET', 'POST' ]) </h4>
        <h4>    @cart_blueprint.route('/delete/<int:user_id>', methods=['GET', 'PUT', 'DELETE'])</h4>
        <h4>    @cart_blueprint.route('/checkout', methods=['GET', 'POST']) </h4>
    </body>
</html>